<div class="container rounded p-4 mt-5 bg-dark text-center text-light">
  <h2>Todos List</h2>
  <div class="row mt-5">
    <div class="col-sm-10">
      <input
        type="text"
        class="form-control"
        placeholder="Enter Your List Key"
        [(ngModel)]="inputValue"
      />
    </div>
    <div class="col-sm-2">
      <button (click)="addTodo()" class="btn btn-outline-warning d-block w-100">
        Add
      </button>
    </div>
  </div>
  <div *ngFor="let todo of todosList; let i = index" class="row mt-3">
    <div class="col-sm-10">
      <p class="bg-secondary p-1 rounded">{{ todo }}</p>
    </div>
    <div class="col-sm-2">
      <button
        (click)="removeTodo(i)"
        class="btn btn-outline-danger d-block w-100"
      >
        Remove
      </button>
    </div>
  </div>
</div>
